html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 7px; 
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(216, 212, 212); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(146, 145, 145); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(56, 55, 55); 
}
.categoryHideScrollbar::-webkit-scrollbar {
  display: none;
}
 
.responsiveLatestProducts {
  height: 235px;
}

@media screen and (min-width: 640px) {
  
  .responsiveLatestProducts {
    height: 264px;
  }

}


@media screen and (min-width: 768px) {
  
  .responsiveLatestProducts {
    height: 320px;
  }
}


@media screen and (min-width: 1024px) {
  
  .responsiveLatestProducts {
    height: 433px;
  }
}


@media screen and (min-width: 1280px) {
  
  .responsiveLatestProducts {
    height: 320px;
  }
}

 